.wrapper {
    background-color: black;
    width: 100%;
    color: white;
    justify-content: center;
    display: flex;
}

.vcl {
    font-size: 35px;
}

.fb {
    text-align: center;
    padding: 40px;
}

@media (max-width: 767px) {
    .fb {
        width: 10px;
    }
}
